version: "2.39.4"
services:
 node_app:
  container_name: node_app_container
  ports:
  - "4000:4000"
 mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      
